@font-face {        
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf");
}
@font-face {        
  font-family: Poppinsbold;
  src: url("../public/Poppins-Bold.ttf");
}
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }
  
/* Generales */

  body{height: 100vh;}
  nav{height: 20vh;}
  .margins{
    margin-left: 10%;
    margin-right: 10%;
  }

/* Especificos */

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70%;
  align-items: center;
}
.logo{
  display: flex;
  flex-direction: row;
}
.image-logo{
  height: 50px;
  display: flex;
}
.text-title{
  font-family: 'Poppinsbold';
  font-size: 32px;
  display: flex;
}
.type-order{
  display: flex;
  cursor: pointer;
  align-items: center;
  font-family: 'Poppins';
}
.arrowNav{margin-top: -20%;}
.searchBar{
  display: flex;
  justify-content: center;
}
.FontAw{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  width: 80%;
  height: 10%;
}