@font-face {        
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf");
}
@font-face {        
  font-family: Poppinsbold;
  src: url("../public/Poppins-Bold.ttf");
}
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }
  

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70%;
}
.image-logo{
  height: 30%;
  display: flex;
}
.text-title{
  font-family: 'Poppinsbold';
  font-size: 32px;
  display: flex;
}
body{
  height: 100vh;
}
nav{
  height: 20vh;
}
.type-order{
  cursor: pointer;
}
.margins{
  margin-left: 5%;
  margin-right: 5%;
}
.logo{
  display: flex;
  flex-direction: row;
}
input.empty {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

